@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
  
body {
    margin: 0;
}

.center-anchor {
    transform: translate(-50%, -50%);
}
